* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(81, 49, 188);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

main {
    background-color: white;
    color: black;
    max-width: 700px;
    max-height: 700px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}



footer {
    text-align: center;
}